<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Assignment Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="layout">
    <div class="sidebar">
        <div class="logo">
            <h2>Student<br>Assignment Tracker</h2>
        </div>

        <ul class="menu">
            <li>
                <a href="{{ url_for('dashboard') }}">Home</a>
            </li>

             <li>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>

             <li class="disabled">
                <a href="#">Subjects</a>
            </li>

            <li class="disabled">
                <a href="#">Profile</a>
            </li>

            <li class="disabled">
                <a href="#">About</a>
            </li>
        </ul>

        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>