{% extends "base.html" %}
{% block content %}

<h2>Your Assignments</h2>
<a href="/add" class="btn btn-primary mb-3">Add Assignment</a>

<table class="table">
<tr>
<th>Title</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for a in assignments %}
<tr>
<td>{{ a.title }}</td>
<td>
<span class="badge bg-warning">{{ a.status }}</span>
</td>
<td>
<a href="/edit/{{a.id}}" class="btn btn-sm btn-info">Edit</a>
<a href="/delete/{{a.id}}" class="btn btn-sm btn-danger">Delete</a>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}