<body>

<div class="auth-page">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="auth-box">
        <h1>Student Tracker</h1>
        <h2>Login</h2>
        <input type="text" class="auth-input" placeholder="Email">
        <input type="password" class="auth-input" placeholder="Password">
        <button class="btn-primary" style="width:100%" onclick="window.location.href='/dashboard'">Login</button>
        <p style="margin-top:20px"><a href="/register">Register</a> | <a href="/forgot_password">Forgot?</a></p>
    </div>
</body>