{% extends "base.html" %}
{% block content %}

<div class="fullscreen-center">
  <div class="auth-card">
    <h2>New Password</h2>

    <form method="POST">
        <div class="input-group">
            <input type="password" id="new_password" name="new_password" placeholder="New password" required>
            <span class="toggle" onclick="togglePassword('new_password', this)">👁</span>
        </div>

        <div class="input-group">
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
            <span class="toggle" onclick="togglePassword('confirm_password', this)">👁</span>
        </div>
        
        <button type="submit">Change</button>
    </form>
</div>

<script>
function togglePassword(id, el) {
    const input = document.getElementById(id);
    if (input.type === "password") {
        input.type = "text";
        el.textContent = "🙈";
    } else {
        input.type = "password";
        el.textContent = "👁";
    }
}
</script>

{% endblock %}